body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Features */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68 !important;
}

.features-title {
  font-weight: 700;
  font-size: 1.5rem;
}

/* Testimonial */
#testimonials {
  background-color: #e38c76;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */
#press {
  background-color: #e38c76;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
}

/* Call To Action */
.download-button-cta {
  margin: 5% 2% 5% 0%;
}

/* Footer */
#footer {
  padding: 7% 15% 1.5%;
}

.social-icon {
  padding: 0% 0.5% 0%
}

.copy-right {
  padding-top: 1%;
}

/* Media Query */
@media (max-width: 1275px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
